@charset "UTF-8";

@font-face {
    font-family: 'spiderfon';
    src: url('../fonts/spiderfont.ttf') format('truetype');
}

@font-face {
    font-family:'spokyspidey' ;
    src: url('../fonts/Spoky\ Spiders.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 2em;
}

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'spiderfon';
    --fonte03: 'spokyspidey';
}

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(243, 236, 236);
}

header > h1 {
    padding-top: 40px;
    font-family: var(--fonte02);
    font-weight: 100;
    font-variant: small-caps;
    font-size: 5vw;
}

header > p {
    padding-top: 10px;
    padding-bottom: 40px;
    font-family: var(--fonte01);
    font-size: 0.7em;
    font-variant: small-caps;
}

a {
    padding: 4px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: overline;
    background-color:rgba(255, 225, 0, 0.427) ;
    border-radius: 10px 0px;
    transition-duration: 0.3s;
}

a:active {
    background-color: brown;
    border-radius: 0px 10px;
}

section {
    padding-left: 40px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.normal {
    background-color: rgb(226, 213, 190);
}

section.imagem {
    padding-left: 20px;
    background-size: cover;
    box-shadow: inset 6px 5px 5px rgba(0, 0, 0, 0.371);
    background-attachment: fixed;
}

section#img01 {
   background-image: url('../imagens/wpp01.jpg');
   background-position: center right;
}

section#img02 {
    background-image: url('../imagens/wapp02.jpg');
    background-position: center bottom;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.277);
}

section > p {
    font-family: var(--fonte03);
    font-weight: 100;
    font-size: 3.3vw;
}

footer { 
    padding: 3px;
    background-color: black;
    text-align: center;
    font-size: 0.5em;
    font-family: var(--fonte01);
    color: rgb(243, 236, 236);
}